# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
expense-tracker

# Project-local glide cache
.glide/

config/config.yaml
config/categories.yaml

.DS_Store
.idea
input/
vendor/
TODO
.vscode/


