language: go
go:
 - 1.7
 - 1.8
 - 1.9
dist: trusty
services:
  - mysql

env:
  global:
    - MYSQL_USER="root"
    - MYSQL_PASS="travis"
    - MYSQL_HOST="localhost"

before_install:
  - mysql -u root < scripts/create_test_db.sql

install:
  - go get -v github.com/Masterminds/glide
  - go get github.com/sirupsen/logrus
  - cd $GOPATH/src/github.com/Masterminds/glide && git checkout 67790b3dbede72cfdc54aa53be4706322c9499e0 && go install && cd -

  - glide install

script:
 - go test ./etl/
